.container {
  border-top: 1px solid #ccc;
  background-color: whitesmoke;
}
.row {
  padding: 50px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
}
.shoutout {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  padding: 10px;
  font-size: 12px;
  a {
    text-decoration: underline;
  }
}
.col {
  width: calc(100% / 3);
  p {
    a:hover {
      width: auto;
      border-bottom: 1px solid #ccc;
    }
  }
  p:nth-of-type(1) {
    font-size: large;
    font-weight: 900;
  }
}
.shoutout {
  border-top: 1px solid #ccc;
}
@media (max-width: 800px) {
  .container {
    padding: 20px 20px 0px 20px;
    flex-direction: column;
  }
  .col {
    width: 100%;
  }
  .row {
    padding: 0px;
    flex-direction: column;
  }
}
