.row {
  width: 100%;
  display: flex;
  align-items: center;
}
.col40 {
  width: 40%;
}
.col40 img {
  width: 100%;
}
.container {
  margin-left: 5%;
  width: 40%;
  padding: 0px 100px 100px 100px;
  background: rgba(255, 255, 255, 0.501);
}
.form h1 {
  font-weight: 700;
  font-size: 25px;
  line-height: 58px;
  letter-spacing: 0.003em;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.87);
  text-align: center;
}
.form {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.form p {
  font-weight: 500;
  font-size: 16px;
  line-height: 44px;
  letter-spacing: 0.003em;
  text-decoration-line: underline;
  color: #9f0404;
  cursor: pointer;
}
.socials {
  width: 100%;
}
.customBtn {
  background: #ececec;
  width: 100%;
  display: flex;
  align-items: center;
  border: 1px solid transparent;
  justify-content: center;
  cursor: pointer;
  margin-bottom: 10px;
  height: 40px;
}
.customBtn p {
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.003em;
  text-transform: capitalize;
  color: #c1c1c1;
  transition: all 0.3s;
}
.customBtn:hover {
  border: 1px solid #ccc;
}
.customBtn:hover p {
  color: rgb(115, 115, 115);
}
.customBtn img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
.links {
  width: 100%;
}
.links p {
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.003em;
  color: #000000;
  text-align: center;
}
.links a {
  cursor: pointer;
  text-decoration: underline;
}

@media (max-width: 768px) {
  .row {
    flex-direction: column;
  }
  .col40 {
    width: 100%;
    height: 50vh;
    position: absolute;
    opacity: 0.5;
    top: 15vh;
    z-index: 1;
  }
  .col40 img {
    margin-top: 50px;
  }
  .container {
    margin-left: 0%;
    width: 100%;
    z-index: 2;
    padding: 100px 50px 50px 50px;
  }
  .form {
    width: 100%;
  }
  .container p {
    font-size: 0.9rem;
  }
  .container h1 {
    font-size: 1.2rem;
  }
  .customBtn p {
    font-size: 0.9rem;
  }
}
