.container {
  overflow: hidden;
  width: 100%;
  padding: 20px;
  text-align: center;
  p:nth-of-type(1) {
    font-weight: 700;
    font-size: 35px;
    margin: 0px;
    color: black;
    text-transform: capitalize;
  }
  p {
    color: rgb(48, 48, 48);
    margin-bottom: 50px;
    text-transform: capitalize;
  }
}
.packs {
  width: 80%;
  margin-left: 10%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  justify-content: center;

  p:nth-of-type(1) {
    font-weight: 500;
    font-size: 28px;
    color: black;
    margin: 0px;
    text-transform: uppercase;
  }
  p {
    font-size: 25px;
    color: black;
    margin: 0px;
    text-transform: uppercase;
  }
  margin-bottom: 50px;
}
.pack {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 20px;
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  ul {
    width: 100%;
    text-align: left;
  }
}
.pack:nth-of-type(1) {
  background-image: url(/images/silver-bg.svg);
}
.pack:nth-of-type(2) {
  background-image: url(/images/gold-bg.svg);
}
.pack:nth-of-type(3) {
  background-image: url(/images/violet-bg.svg);
}

@media (max-width: 800px) {
  .container {
    p:nth-of-type(1) {
      font-size: 30px;
    }
    p {
      font-size: 15px;
    }
  }
  .packs {
    width: 100%;
    margin-left: 0%;
    grid-template-columns: auto;
    p:nth-of-type(1) {
      font-size: 20px;
    }
    p {
      font-size: 15px;
    }
  }
  .pack {
    width: 100%;
    ul {
      text-align: left;
    }
  }
}
