@mixin flexContainer(
  $alignItems: center,
  $justifyContent: center,
  $flexDirection: row
) {
  display: flex;
  align-items: $alignItems;
  justify-content: $justifyContent;
  flex-direction: $flexDirection;
}

.header {
  @include flexContainer(center, space-between);
  width: 100%;
  padding: 10px 5vw;
  height: 80px;
  z-index: 1300;
  position: fixed;
  top: 0px;
}
.logo {
  width: calc(100% / 3);
  @include flexContainer(center, center);
}
.menu {
  width: calc(100% / 3);
}
.controls {
  width: calc(100% / 3);
  @include flexContainer(center, flex-end);
}
.drawer {
  width: clamp(300px, 80vw, 400px);
  height: calc(100vh - 10px);
  overflow: hidden;
  padding-top: 100px;
  .container {
    width: 100%;
    height: 100%;
    padding-bottom: 100px;
    overflow: auto;
    position: relative;
    .link {
      padding: 15px 20px;
      font-size: 13px;
      font-family: sans-serif;
      margin: 10px 0px;
      transition: all 0.2s;
      text-transform: capitalize;
    }
    .link:hover {
      padding-left: 40px;
    }

    .socials {
      width: clamp(300px, 80vw, 400px);
      height: 100px;
      position: fixed;
      bottom: 0px;
      left: 0px;
      background-color: #eee;
      @include flexContainer(center, space-around);
      a {
        transition: all 0.3s;
      }
      a:hover {
        transform: scale(1.5);
      }
    }
  }
}
.search {
  @include flexContainer;
  width: 100vw;
  height: 80px;
  input {
    padding-right: 80px !important;
    font-size: 17px;
  }
  .controls {
    width: 100px;
    margin-left: -100px;
  }
}
