// functions
@mixin flexLayout(
  $alignItems: center,
  $justifyContent: center,
  $flexDirection: row
) {
  display: flex;
  flex-direction: $flexDirection;
  align-items: $alignItems;
  justify-content: $justifyContent;
}
.container {
  width: 100%;
  padding: 10px;
  h1 {
    text-transform: uppercase;
  }
}
.controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 5px 0px;
}
.productImagesContainer {
  width: 100%;
  display: grid;
  overflow-x: auto;
  grid-template-columns: auto auto auto;
}
.productImgPreview {
  margin: 10px;
  border-radius: 4px;
  position: relative;
  img {
    object-fit: contain;
    width: 150px;
    height: 100px;
  }
  .closeIcon {
    position: absolute;
    top: -10px;
    left: -10px;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 10px #ccc;
    border-radius: 50%;
  }
}
.imagesContainer {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto;
}
.imgPreview {
  margin: 10px;
  border-radius: 4px;
  position: relative;
  img {
    object-fit: contain;
    width: 100%;
    height: 150px;
  }
  .closeIcon {
    position: absolute;
    top: -10px;
    left: -10px;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 10px #ccc;
    border-radius: 50%;
  }
}
.slideContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.slidePreview {
  width: 100%;
  margin: 20px 0px;
  border-radius: 4px;
  position: relative;
  img {
    object-fit: cover;
    width: 100%;
  }
  .closeIcon {
    position: absolute;
    top: -10px;
    left: -10px;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 10px #ccc;
    border-radius: 50%;
  }
}
.account {
  .row {
    width: 100%;
    padding: 10px;
    background-repeat: no-repeat;
    border-radius: 10px;
    text-transform: capitalize;
    form {
      @include flexLayout(flex-start, flex-start, column);
    }
    input {
      max-width: 300px;
    }
    h5 {
      margin: 0px;
      font-size: 20px;
    }
    h1 {
      font-size: 45px;
      margin: 15px 0px;
    }
    p {
      width: 100%;
      margin: 10px 0px;
      @include flexLayout(center, flex-start);
    }
  }

  .silver {
    background-image: url(/images/silver-bg.svg);
    background-position: 0%;
  }

  .gold {
    background-image: url(/images/gold-bg.svg);
    background-position: 0%;
  }

  .passwordContainer {
    width: 100%;
    display: flex;
    align-items: center;
  }

  .passwordVisibilityIcon {
    margin-left: -45px;
  }
}

.offer {
  position: relative;
  width: 90%;
  height: 200px;
  background-image: url(/images/default-bg.svg);
  background-position: 0%;
  background-repeat: no-repeat;
  padding: 20px;
  border-radius: 10px;
  border: 2px solid #ccc;
  transition: all 0.3s;
  cursor: pointer;
  p {
    font-size: 20px;
    font-weight: 500;
  }
  .price {
    position: absolute;
    width: 100%;
    height: 35px;
    @include flexLayout();
    background-color: var(--second-color);
    color: white;
    font-size: 20px;
    font-weight: 700;
    bottom: 0px;
    left: 0px;
    border-radius: 0px 0px 10px 10px;
    opacity: 0.5;
  }
}
.offer:hover {
  border: 2px solid var(--second-color);
  transform: scale(1.03);
  z-index: 2;
}
.activeOffer {
  border: 2px solid var(--second-color);
  transform: scale(1.03);
  z-index: 2;
}

.error {
  background-color: rgb(255, 213, 213);
}
.warning {
  background-color: rgb(255, 229, 190);
}

@mixin state() {
  border-radius: 4px;
  padding: 2px 4px;
  text-align: center;
}
.waiting {
  @include state();
  background-color: rgb(255, 182, 45);
  color: white;
}
.closed {
  @include state();
  background-color: rgb(28, 177, 28);
  color: white;
}
.receipt {
  display: none;
}
@media print {
  .receipt {
    width: 98%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 1%;
    padding: 20px;
    border: 1px solid #ccc;
    img {
      width: 100px;
      height: 100px;
      object-fit: contain;
    }
    .row {
      width: 100%;
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
    }
    p {
      margin: 0px !important;
    }
  }
}

@media (max-width: 800px) {
  .offer {
    width: 95%;
  }
  .imagesContainer {
    grid-template-columns: auto;
    row-gap: 25px;
  }
}
