html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
* {
  box-sizing: border-box;
}
:root {
  --first-color: #bb84e8;
  --second-color: #ec008c;
  --vitrine-navbar-height: 70px;
}

// inputs
.defaultInput {
  background-color: transparent;
  border-radius: 5px;
  border: 1px solid #ccc;
  height: 35px;
  width: 100%;
  padding: 5px;
  margin: 5px 0px;
}

// ConnectedGuard
.auth-guard-loader {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0px;
  left: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  backdrop-filter: blur(25px);
}
