html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
* {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
/* Scrollbar Track */
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  border-radius: 5px !important;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 5px !important;
  background-color: #ccc; /* Change this to your preferred color */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #bfbfbf;
}

/* Track */
::-webkit-scrollbar-track {
  background: linear-gradient(
    to bottom,
    #f0f0f0,
    #d9d9d9
  ); /* Gradient background */
  border-radius: 4px !important;
}

:root {
  // colors
  --first-color: #bb84e8;
  --second-color: #ec008c;
  --black-color: rgba(0, 0, 0, 1);

  // proportions
  --vitrine-navbar-height: 70px;
}

/* Hide the arrow controls for number input */
input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}
input::placeholder,
textarea::placeholder {
  text-transform: capitalize;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none; /* WebKit browsers like Chrome and Safari */
  margin: 0; /* Removes the default margin */
}
.SnackbarContent-root {
  text-transform: uppercase;
}

// functions
@mixin flexLayout(
  $alignItems: center,
  $justifyContent: center,
  $flexDirection: row
) {
  display: flex;
  flex-direction: $flexDirection;
  align-items: $alignItems;
  justify-content: $justifyContent;
}

// inputs
.defaultInput {
  background-color: transparent;
  border-radius: 5px;
  border: 1px solid #ccc;
  height: 40px;
  width: 100%;
  padding: 5px;
  margin: 5px 0px;
}
.transparentInput {
  background-color: transparent;
  border: none;
  height: 40px;
  width: 100%;
  margin: 5px 0px;
  pointer-events: none;
}
.labeledInput {
  width: 100%;
  @include flexLayout(flex-start, center, column);
  margin: 5px 0px;
  label {
    font-size: 14px;
    text-transform: capitalize;
  }
  textarea {
    resize: none;
    height: 100px;
    max-height: 300px;
    min-height: 100px;
  }
}
option {
  font-size: 15px;
  text-transform: capitalize;
  color: #bb84e8;
}
option:hover,
option.hovered {
  background-color: lightgray;
  color: #bb84e8;
}

// ConnectedGuard
.auth-guard-loader {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0px;
  left: 0px;
  @include flexLayout;
  background-color: transparent;
  backdrop-filter: blur(25px);
  .loaderContainer {
    width: 100%;
    height: 100%;
    @include flexLayout;
    position: relative;
  }
}

// Effects
.hoverable {
  width: 100%;
  border-radius: 3px;
  background-color: transparent;
  transition: all 0.3s;
  padding: 5px;
}
.hoverable:hover {
  background-color: #cccccc30;
}

// tables
.defaultTable {
  width: 100%;
  text-align: left;
  border: 1px solid #ccc;
  border-collapse: collapse;
}
.defaultTable thead {
  height: 30px;
  background: #f5f5f5;
  font-weight: 400;
  font-size: 13px;
  text-align: center;
  text-transform: uppercase;
  position: sticky;
  top: 0;
  z-index: 1;
}
.defaultTable tbody {
  background: #ffffff;
  font-weight: 400;
  font-size: 13px;
  text-align: center;
  text-transform: capitalize;
}
.defaultTable tbody tr {
  border: 1px solid #ccc;
  height: 40px;
  text-align: left;
}
.defaultTable td,
th {
  text-align: left;
  padding: 0px 5px;
  border: 1px solid #ccc;
  text-overflow: ellipsis;
}

.fixedTable {
  width: 100%;
  text-align: left;
  border: 1px solid #ccc;
  border-collapse: collapse;
}
.fixedTable thead {
  height: 30px;
  background: #f5f5f5;
  font-weight: 400;
  font-size: 13px;
  text-align: center;
  text-transform: uppercase;
  position: sticky;
  top: 0;
  z-index: 1;
}
.fixedTable tbody {
  background: #ffffff;
  font-weight: 400;
  font-size: 13px;
  text-align: center;
  text-transform: capitalize;
}
.fixedTable tbody tr {
  border: 1px solid #ccc;
  height: 40px;
  text-align: left;
}
.fixedTable td,
th {
  text-align: left;
  padding: 0px 5px;
  border: 1px solid #ccc;
  text-overflow: ellipsis;
}

// layout
.row {
  display: flex;
  align-items: center;
  justify-content: center;
}
.grid-5 {
  padding: 10px 0px;
  row-gap: 10px;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  p {
    margin: 2px 0px;
  }
}
.grid-4 {
  padding: 20px 0px;
  display: grid;
  grid-template-columns: auto auto auto auto;
}
.card {
  width: 100%;
  height: 180px;
  padding: 5px;
  @include flexLayout(center, center, column);
  .icon {
    width: 80px;
    height: 80px;
    object-fit: contain;
    border-radius: 5px;
  }
}
.centered-row {
  width: 100%;
  @include flexLayout;
}
.adminTableContainer {
  height: calc(100vh - 260px);
  overflow-y: auto;
}
// components
.loadingScreen {
  width: 100vw;
  height: 100vh;
  background-color: transparent;
  backdrop-filter: blur(15px);
  display: flex;
  align-items: center;
  justify-content: center;
}
.variantPickerContainer {
  position: relative;
  width: 100%;
}
.variantPicker {
  position: absolute;
  z-index: 1000;
  top: -42.5px;
  left: 0px;
  backdrop-filter: blur(15px);
  box-shadow: 0px 0px 2px #ccc;
  border-radius: 4px;
  height: 50px;
  width: 220px;
  padding: 5px;
  transition: all 0.3s;
  opacity: 0;
  display: flex;
  align-items: center;
  gap: 10px;
  overflow-x: auto;
  overflow-y: hidden;
}
.variantPickerActive {
  opacity: 1;
  width: 100%;
}
.tagsRow {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  overflow-y: auto;
}
.tag {
  border-radius: 25px;
  border: 1px solid transparent;
  padding: 5px 10px;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.1s;
}
.addTag {
  position: absolute;
  top: -10px;
  padding: 0px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  width: 35px;
  background-color: rgb(0, 0, 0);
  cursor: pointer;
  color: white;
  border-radius: 50%;
  box-shadow: 0px 0px 5px #eee;
}
// defaults
.swiper-slide {
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.swiper-button-prev::after,
.swiper-button-next::after {
  color: black;
  font-size: 20px !important;
  font-weight: bolder;
}
.swiper-button-prev,
.swiper-button-next {
  background-color: #ffffff !important;
  height: 30px !important;
  width: 30px !important;
  border-radius: 50%;
  box-shadow: 0px 0px 5px #ccc;
}
.swiper-pagination {
  margin-top: -20px !important;
}
.swiper-pagination-bullet-active {
  background-color: black !important;
}
.vitrine-block {
  padding: 20px;
  margin: 20px 0px;
  text-align: center;
  img {
    width: 30%;
  }
  p:nth-of-type(1) {
    text-transform: capitalize;
    color: rgb(26, 26, 26);
    font-weight: 900;
    font-size: 30px;
    margin: 5px;
  }
  p {
    text-transform: capitalize;
    color: rgb(26, 26, 26);
    font-weight: 400;
    font-size: 20px;
    margin: 5px;
  }
  .row {
    margin-left: 10%;
    width: 80%;
    @include flexLayout();
    .col {
      img {
        width: 60%;
      }
      width: 50%;
      @include flexLayout(center, center, column);
    }
  }
}
.downloadBtn {
  color: white;
  background-color: black;
  @include flexLayout;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  animation: hover 2s infinite;
  text-transform: uppercase;
  transition: all 0.3s;
}
.downloadBtn:hover {
  box-shadow: 0px 0px 5px gray;
  animation: none;
}

.zoomOut {
  img {
    cursor: zoom-out !important;
  }
}

.grabbingCursor {
  img {
    cursor: grabbing !important;
  }
}

.css-ar2l7m-MuiAutocomplete-listbox {
  text-transform: capitalize !important;
  .MuiAutocomplete-option[aria-selected="true"] {
    background-color: rgba(0, 0, 0, 0.04) !important;
  }
}
.css-thzw3c-MuiAutocomplete-root
  .MuiOutlinedInput-root.MuiInputBase-sizeSmall
  .MuiAutocomplete-input {
  text-transform: capitalize;
}

@media (max-width: 800px) {
  .variantPicker {
    margin-top: -45px;
    height: 90px;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto;
  }
  .grid-5 {
    padding: 10px 0px;
    display: grid;
    grid-template-columns: auto auto auto;
  }
  .grid-4 {
    grid-template-columns: auto auto;
    row-gap: 20px;
  }
  .defaultTable {
    border: none;
  }
  .defaultTable caption {
    font-size: 1.3em;
  }
  .defaultTable thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  .defaultTable tr {
    border: 1px solid #ccc;
    display: block;
    margin-bottom: 20px;
    height: 100% !important;
  }
  .defaultTable tbody tr {
    border: none;
  }
  .defaultTable td,
  th {
    padding: 10px 5px;
  }
  .defaultTable td {
    display: block;
    font-size: 0.8em;
    text-align: right;
  }

  .defaultTable td::before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
  .defaultTable td:last-child {
    border: 1px solid #ccc;
    padding: 0px 5px;
    @include flexLayout(center, space-between);
  }
  .vitrine-block {
    padding: 20px;
    margin: 20px 0px;
    text-align: center;
    img {
      width: 80%;
    }
    p:nth-of-type(1) {
      font-size: 24px;
    }
    p {
      font-size: 13px;
    }
    .row {
      margin-left: 0%;
      width: 100%;
      flex-direction: column;
      .col {
        img {
          width: 100%;
        }
        width: 100%;
        @include flexLayout(center, center, column);
      }
    }
  }
}

@keyframes hover {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}
