@mixin flexLayout(
  $alignItems: center,
  $justifyContent: center,
  $flexDirection: row
) {
  display: flex;
  flex-direction: $flexDirection;
  align-items: $alignItems;
  justify-content: $justifyContent;
}

.content {
  background-color: #080b14;
  height: calc(100vh - 50px);
  padding: 20px 20vw;
  color: #ccc;
  input {
    width: 100%;
    background-color: #ccc;
    border: none;
    border-radius: 4px;
    font-size: 15px;
    height: 35px;
  }
  .arena {
    height: calc(100vh - 260px);
    overflow-y: auto;
    padding: 20px;
    @include flexLayout(center, flex-start, column);
  }
  .shopCard {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    margin: 20px 0px;
    color: #080b14;
    position: relative;
    h1 {
      font-size: 20px;
      text-transform: uppercase;
      margin: 5px 0px;
    }
    h4 {
      text-transform: uppercase;
    }
    p {
      font-size: 15px;
      font-weight: 500;
      text-transform: capitalize;
      margin: 5px 0px;
    }
    .error {
      color: #c52222;
      font-weight: 500;
      text-transform: uppercase;
    }
    .success {
      color: #37a237;
      font-weight: 500;
      text-transform: uppercase;
    }
    p span {
      background-color: white;
      padding: 4px;
      border-radius: 4px;
    }
    .controls {
      position: absolute;
      right: 10px;
      bottom: 10px;
      width: 100px;
      @include flexLayout(flex-end, flex-end);
    }
  }
  .silver {
    background-image: url(/images/silver-bg.svg);
    background-position: 0%;
  }

  .gold {
    background-image: url(/images/gold-bg.svg);
    background-position: 0%;
  }
}
.navbar {
  width: 100%;
  height: 50px;
  @include flexLayout;
  background-color: #18234b;
  color: white;
  box-shadow: 0px 0px 5px black;
}
.navItem {
  width: 50px;
  height: 100%;
  margin: 0px 20px;
  @include flexLayout;
  border-top: 3px solid transparent;
  cursor: pointer;
  transition: all 0.3s;
}
.navItem:hover {
  background-color: #374883;
  border-top: 3px solid white;
}
.activeNavItem {
  background-color: #374883;
  border-top: 3px solid white;
}
.searchField {
  width: 100%;
  @include flexLayout;
}

@media (max-width: 800px) {
  .content {
    padding: 20px;
  }
}
